@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// $colors: (
//   primary: #8e7ab5,
//   secondary: #b784b7,
//   tertiary: #e493b3,
//   quaternary: #eea5a6
// );

$colors: (
  primary: #6c9bcf,
  danger: #ff0060,
  success: #1b9c85,
  warning: #f7d060,
  white: #fff,
  info-dark: #7d8da1,
  dark: #363949,
  light: rgba(132, 139, 200, 0.18),
  dark-variant: #677483,
  background: #f6f6f9
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 1.2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 2rem 3rem color(light);

// .dark-mode-variables {
//   $colors: (
//     background: #181a1e,
//     white: #202528,
//     dark: #edeffd,
//     dark-variant: #a3bdcc,
//     light: rgba(0, 0, 0, 0.4)
//   );
//   $box-shadow-dark: 0 2rem 3rem color(light);

//   @function color($color-name) {
//     @return map-get($map: $colors, $key: $color-name);
//   }
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  color: color(dark);
  overflow-x: hidden;
  background-color: color(background);
}
