@use "./base" as *;
@import "./mixins";

a {
    color: color(dark);
    font-size: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: color(dark-variant);
}

b {
    color: color(dark);
}

.text-muted {
    color: color(info-dark);
}

.primary {
    color: color(primary);
}

.danger {
    color: color(danger);
}

.success {
    color: color(success);
}

.warning {
    color: color(warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside {
    height: 100vh;

    .toggle {
        @include flex-center(space-between, center);
        margin-top: 1.4rem;

        .logo {
            img {
                height: 2rem;
            }
        }

        .close {
            @include flex-center;

            padding-right: 1rem;
            display: none;
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: color(white);
        box-shadow: $box-shadow;
        border-radius: 15px;
        height: 88vh;
        position: relative;
        top: 1.5rem;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: none;
        }

        a {
            display: flex;
            align-items: center;
            color: color(info-dark);
            height: 3.7rem;
            gap: 1rem;
            position: relative;
            margin-left: 2rem;
            transition: all 0.3s ease;

            span {
                font-size: 1.6rem;
                transition: all 0.3s ease;
            }

            &:last-child {
                position: absolute;
                bottom: 2rem;
                width: 100%;
            }
        }
    }
}
