@use "./base" as *;
@import "./mixins";

%transition {
    transition: all 0.3s ease;
}

a {
    color: color(dark);
    font-size: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: color(dark-variant);
}

b {
    color: color(dark);
}

.text-muted {
    color: color(info-dark);
}

.primary {
    color: color(primary);
}

.danger {
    color: color(danger);
}

.success {
    color: color(success);
}

.warning {
    color: color(warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside {
    height: 100vh;

    .toggle {
        @include flex-center(space-between, center);
        margin-top: 1.4rem;

        .logo {
            img {
                height: 2rem;
            }
        }

        .close {
            @include flex-center;

            padding-right: 1rem;
            display: none;
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: color(white);
        box-shadow: $box-shadow;
        border-radius: 15px;
        height: 88vh;
        position: relative;
        top: 1.5rem;
        @extend %transition;

        &:hover {
            box-shadow: none;
        }

        a {
            display: flex;
            align-items: center;
            color: color(info-dark);
            height: 3.7rem;
            gap: 1rem;
            position: relative;
            margin-left: 2rem;
            @extend %transition;

            span {
                font-size: 1.6rem;
                @extend %transition;
            }

            &:last-child {
                position: absolute;
                bottom: 2rem;
                width: 100%;
            }

            &.active {
                width: 100%;
                color: color(primary);
                background-color: color(light);
                margin-left: 0;

                &::before {
                    content: "";
                    width: 6px;
                    height: 18px;
                    background-color: color(primary);
                }

                span {
                    color: color(primary);
                    margin-left: calc(1rem - 3px);
                }
            }

            &:hover {
                color: color(primary);

                span {
                    margin-left: 0.6rem;
                }
            }
        }

        .message-count {
            background-color: color(danger);
            padding: 2px 6px;
            color: color(white);
            font-size: 11px;
            border-radius: $border-radius-1;
        }
    }
}

main {
    margin-top: 1.2rem;

    .analyze {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;

        & > div {
            background-color: color(white);
            padding: $card-padding;
            border-radius: $card-border-radius;
            margin-top: 1rem;
            box-shadow: $box-shadow;
            cursor: pointer;
            @extend %transition;

            .status {
                @include flex-center(space-between, center);
            }

            &:hover {
                box-shadow: none;
            }
        }

        h3 {
            margin-left: 0.6rem;
            font-size: 1rem;
        }

        .progress {
            position: relative;
            @include size(92px, 92px);

            .percentage {
                position: absolute;
                top: -3px;
                left: -1px;
                @include flex-center;
                @include size;
            }
        }

        svg {
            @include size(7rem, 7rem);

            circle {
                fill: none;
                stroke-width: 10;
                stroke-linecap: round;
                transform: translate(5px, 5px);
            }
        }

        .sales {
            svg {
                circle {
                    stroke: color(success);
                    stroke-dashoffset: -70;
                    stroke-dasharray: 200;
                }
            }
        }

        .visits {
            svg {
                circle {
                    stroke: color(danger);
                    stroke-dashoffset: -10;
                    stroke-dasharray: 200;
                }
            }
        }

        .searches {
            svg {
                circle {
                    stroke: color(primary);
                    stroke-dashoffset: -50;
                    stroke-dasharray: 200;
                }
            }
        }
    }

    .new-users {
        margin-top: 1.3rem;

        .user-list {
            background-color: color(white);
            padding: $card-padding;
            border-radius: $card-border-radius;
            margin-top: 1rem;
            box-shadow: $box-shadow;
            @include flex-center(space-around, null);
            flex-wrap: wrap;
            gap: 1.4rem;
            cursor: pointer;
            @extend %transition;

            &:hover {
                box-shadow: none;
            }

            .user {
                @include flex-center;
                flex-direction: column;

                img {
                    @include size(5rem);
                    margin-bottom: 0.4rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .recent-orders {
        margin-top: 1.3rem;

        h2 {
            margin-bottom: 0.8rem;
        }

        table {
            background-color: color(white);
            width: 100%;
            padding: $card-padding;
            text-align: center;
            box-shadow: $box-shadow;
            border-radius: $card-border-radius;
            @extend %transition;

            &:hover {
                box-shadow: none;
            }

            tbody {
                td {
                    height: 2.8rem;
                    border-bottom: 1px solid color(light);
                    color: color(dark-variant);
                }

                tr:last-child td {
                    border: none;
                }
            }
        }

        a {
            text-align: center;
            display: block;
            margin: 1rem auto;
            color: color(primary);
        }
    }
}
