@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: 0;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #363949;
  background-color: #f6f6f9;
}

a {
  color: color(dark);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: color(dark-variant);
}

b {
  color: color(dark);
}

.text-muted {
  color: color(info-dark);
}

.primary {
  color: color(primary);
}

.danger {
  color: color(danger);
}

.success {
  color: color(success);
}

.warning {
  color: color(warning);
}